.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: white;
    padding: 7px 0px;
}
.imagemBtn{
    width: 37vw;
    max-width: 140px;
    min-width: 100px;
    height: auto;
}