
.li{
    list-style: none;
}
.Btn:focus{
    background-color: #daa520;
}
.Btn{
    display: flex;
    width: 130px;
    height: auto;
    flex-wrap: wrap;
    padding: 8px 3px;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin: 3px 6px 3px;
    color: #000;
    font-size:16px;
    font-weight: 500;
}
.Btn:hover{
    background-color: #daa520;
    border-radius: 10px;
}
.iconBtn{
    width: 25px;
    height: auto;
    object-fit: cover;
}
@media(max-width:900px){
.Btn{
    width: 180px;
    padding: 15px 0px;
    font-size: large;
    font-weight: 600;
}
}
@media(max-width:403px){
    .Btn{
        width: 140px;
    }
}
@media(max-width:350px){
.Btn{
    width: 135px;
    font-size: medium;
}
}
@media(max-width:314px){
    .Btn{
        width: 125px;
    }
}