@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

  * {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "Red Hat Text", sans-serif;
  overflow-x: hidden;
  overflow: initial;
}
body{
  display: flex;
    justify-content: center;
}
