.containerInput{
    width: 100%;
    height: auto;
    display: flex;
    border: 2px solid #808080a1;
    border-radius: 25px;
    padding: 3px 15px;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 10px;
}
.imagemIcon{
    width: 35px;
    height: auto;
    object-fit: cover;
}
.input{
    width: 100%;
    height: 100%;
    padding: 3px 8px;
    color: black;
    font-size: medium;
    border: none;
    text-overflow: ellipsis;
}

